/data
/output
# 任意のpythonキャッシュファイルを無視
__pycache__/

logs
saved_models

data_raw/IAM/forms
data_raw/IAM/xml

data_raw/IAM_Aachen/images
data_raw/IAM_384/images


.venv/

.DS_Store

debug/images/
debug/excels/
