model_name: 'microsoft/trocr-small-handwritten'

device: 'cuda'

# datasets
data:
  train_images_dir: 'data/gen_hard/train/images'
  train_labels_path: 'data/gen_hard/train/labels.txt'
  val_images_dir: 'data/gen_hard/val/images'
  val_labels_path: 'data/gen_hard/val/labels.txt'
  test_images_dir: 'data/gen_hard/test/images'
  test_labels_path: 'data/gen_hard/test/labels.txt'
  dummy_images_dir: 'data/gen_hard/dummy/images'
  dummy_labels_path: 'data/gen_hard/dummy/labels.txt'
  image_ext: '.png'
  augmentations:
    enable: false
    rotate: {p: 0.5, degrees: 10, fill: 255}
    gaussian_blur: {p: 0.3, radius_min: 0.5, radius_max: 1.2}
    dilation: {p: 0.3, size: 3}
    erosion: {p: 0.3, size: 3}
    downsample: {p: 0.4, ratio_min: 0.5, ratio_max: 0.8, up_interpolation: bicubic}
    underline: {p: 0.3, thickness_min: 1, thickness_max: 3, offset_min: 1, offset_max: 5, color: [0, 0, 0]}


train:
  num_epochs: 5
  batch_size: 12
  num_workers: 4
  lr: 1e-5           
  weight_decay: 0.00005
  save_interval: 10
  eval_interval: 10

# evaluation
eval:
  batch_size: 8
  num_workers: 4


# model saving
model:
  save_dir: './saved_models/12-07_gen_hard-small'
  save_interval: 10

# logging
logging:
  log_dir: './logs/runs/12-07_gen_hard-small'

debug:
  save_preprocessed: true
  save_dir: "./debug/images/images"
  save_format: "png"
  save_excel: "./debug/images/results.xlsx"
  resume: "saved_models/12-13_TOCR-small/epoch-100"

excel:                                                                                                                                                                          
  images_dir: data/gen_hard]/test/images                                                                                                                                       
  labels_path: data/gen_hard]/test/labels.txt                                                                                                                                  
  ft_ckpt: saved_models/12-07_TOCR-small/epoch-1                                                                                                                            
  baseline: microsoft/trocr-small-handwritten                                                                                                                                   
  out: debug/excels/results.xlsx                                                                                                                                                       
  image_exts: .jpg                                                                                                                                                  
  max_new_tokens: 64                                                                                                                                                            
  device: cuda                                                                                                                                                                  
  max_samples: null                                                                                                                                                             
  embed_images: true  
